/* Import the base styles */
@import "../../../data/styles.css";

.project {
    position: relative; 
    padding-bottom: 60px; 
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.project:hover {
    transform: scale(1.03); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.project-logo img {
    max-height: 80px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

.project-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-container {
    flex: 2;
    padding: 20px;
}

.media-display {
    flex: 1;
}

.project-title, .project-description {
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    text-align: left;
    color: var(--primary-color);
    margin-top: 10px;
    text-decoration: none;
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
}
.project-buttons {
    margin-top: 20px; /* Space from the text above */
    align-self: flex-start;
}
@media (max-width: 768px) {
    .project {
        flex-direction: column;
        text-align: center;
    }

    .project-content {
        flex-direction: column;
    }

    .media-display {
        width: 100%;
    }
    .Media{
        flex:1
    }
    .project-logo img {
        max-height: 60px;
    }

    .text-container, .media-display {
        padding: 10px;
        width: auto;
    }
}
