/* Import the base styles */
@import "../../../data/styles.css";

.project {
    position: relative; /* Establish relative positioning context for children */
    padding-bottom: 60px; /* Make room for the 'View Project' button */
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.project:hover {
    transform: scale(1.03); /* Slightly increase the size of the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the shadow to give depth */
}
.project-logo img {
    max-height: 80px;
    padding: 20px;
    margin: 0 auto;
    display: block;
}

.project-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-container {
    flex: 2;
    padding: 20px;
}

.media-display {
    flex: 1;
}

.project-title, .project-description {
    margin-bottom: 10px;
}
.project-buttons{
    margin: 20px;
}
.project-link {
    display: inline-block;
    text-align: left;
    color: var(--primary-color);
    margin-top: 10px;
    text-decoration: none;
    position: absolute; /* Position the link absolutely within the .project */
    bottom: 10px; /* Place it 10px from the bottom */
    right: 10px; /* Place it 10px from the right */
}
.project-buttons {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center buttons horizontally */
    justify-content: center; /* Center buttons vertically if there's extra space */
    margin: 20px 0;
}
@media (max-width: 768px) {
    .project {
        flex-direction: column;
        text-align: center;
    }

    .project-content {
        flex-direction: column;
    }

    .media-display {
        width: 100%;
        order: -1; /* Media display comes before text in mobile view */
    }
    .Media{
        flex:1
    }
    .project-logo img {
        max-height: 60px; /* Adjust logo size for mobile */
    }

    .text-container, .media-display {
        padding: 10px;
        width: auto;
    }
}
